@charset "UTF-8";

.content {
	padding:10px 20px;
}

/*
 * ヘッダー
 */
 h1 {
	float: left;
	margin: 4px;
	padding: 0px 0;
}
h1 a {
	display: block;
	width: 260px;
	height: 70px;
	font-size: 0;
	background: url(../img/logo1.png) left top/260px auto no-repeat;
}
.header-dammy {
	height: 100px;
}

header {
	position: fixed;
	top: 0;
	width: calc(100% - 20px);
	height: 100px;
	padding: 0 10px;
	background-color: #e3f5ff;
}

.header-left {
	margin-top: 10px;
	float: left;
}

.header-left a {
	font-family: 'HGP行書体';
	color: black;
	font-size: 60px;
}

.header-right {
	margin-top: 25px;
	float: right;
}

.header-right a {
	font-size: 30px;
}

/*
 * フッター
 */
footer {
	height: 150px;
	background-color: #e6e6e6;
}

.footer-content{
	padding-top: 10px;
}

.footer-logo{
	float: left;
}

.footer-logo h1 {
	font-size: 50px;
	font-family: 'HGP行書体';
}

.footer-right{
	float:left;
	margin-left: 10px;
	padding-top: 20px;
}

.footer-right p{
	font-size: 20px;
}