@charset "UTF-8";

.content {
	
}

/*
 * ヘッダー
 */
.header-dammy {
	height: 80px;
}

header {
	position: fixed;
	top: 0;
	width: calc(100% - 20px);
	height: 80px;
	padding: 0 10px;
	background-color: #FFB83F;
}

.header-left {
	margin-top: 10px;
	float: left;
}

.header-left a {
	font-family: 'HGP行書体';
	color: black;
	font-size: 60px;
}

.header-right {
	margin-top: 15px;
	float: right;
}

.header-right a {
	font-size: 30px;
}

/*
 * フッター
 */
footer {
	height: 150px;
	background-color: #408080;
}

.footer-content{
	padding-top: 10px;
}

.footer-logo{
	float: left;
}

.footer-logo h1 {
	font-size: 50px;
	font-family: 'HGP行書体';
}

.footer-right{
	float:left;
	margin-left: 10px;
	padding-top: 20px; 
}

.footer-right p{
	font-size: 20px;
}