@charset "UTF-8";
body{
	font-family:"メイリオ";
}
.content button{
	color:black;
	background-color:#FFB83F;
	font-size:50px;
    padding:30px 50px;
}
.content h1{
	color:red;
	font-size:50px;
}